.title1 {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; FONT-FAMILY: Arial Narrow, Arial, sans-serif
}
.Title1 {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; FONT-FAMILY: Arial Narrow, Arial, sans-serif
}
.title2 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; FONT-FAMILY: Arial Narrow, Arial, sans-serif
}
.tableheader {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #e67a3c; BACKGROUND-COLOR: #fff
}
.tablebg {
	BACKGROUND-COLOR: #f6f6f6
}
.heavyshaded {
	COLOR: #29487e; BACKGROUND-COLOR: #e1e1e1
}
.tablegbg {
	BACKGROUND-COLOR: #ccc
}
.tablebbg {
	BACKGROUND-COLOR: #ccc
}
.linebuffer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #fff
}
.header1 {
	PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.subheader {
	FONT-WEIGHT: bold; COLOR: #000; BACKGROUND-COLOR: #e6eff6
}
.container {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.container2 {
	BORDER-RIGHT: #ccc 0px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 0px solid; BORDER-BOTTOM: #ccc 1px solid
}
.containertop {
	BORDER-TOP: #ccc 1px solid
}
.containerbottom {
	BORDER-BOTTOM: #ccc 1px solid
}
.titlebar {
	PADDING-RIGHT: 3px; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.globalbg {
	BACKGROUND-COLOR: #ccc
}
.sw .pagetitle {
	BORDER-BOTTOM: #ffda73 10px solid
}
.hw .pagetitle {
	BORDER-BOTTOM: #065fa3 10px solid
}
.alt .pagetitle {
	BORDER-BOTTOM: #065fa3 10px solid
}
.swprime .pagetitle {
	BORDER-BOTTOM: #ffbb00 10px solid
}
.pagetitle H2 {
	FONT-SIZE: 14px; MARGIN: 0px 0px 5px
}
.sw H3.titlebar {
	BACKGROUND-COLOR: #fff7e0
}
.swprime H3.titlebar {
	BACKGROUND-COLOR: #fff7e0
}
.hw H3.titlebar {
	BACKGROUND-COLOR: #e6eff6
}
.alt H3.titlebar {
	BACKGROUND-COLOR: #e6eff6
}
.sw H3.black5 {
	BACKGROUND-COLOR: #f2f2f2
}
.swprime H3.black5 {
	BACKGROUND-COLOR: #f2f2f2
}
.hw H3.black5 {
	BACKGROUND-COLOR: #f2f2f2
}
.alt H3.black5 {
	BACKGROUND-COLOR: #f2f2f2
}
.top {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; TEXT-TRANSFORM: uppercase; PADDING-TOP: 10px; TEXT-ALIGN: right
}
.fineprint P {
	FONT-SIZE: 11px
}
.arrow {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #bb0000
}
.opaquetable {
	BACKGROUND-COLOR: #f6f6f6
}
#header7 {
	PADDING-RIGHT: 4px; MARGIN-TOP: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: #000; PADDING-TOP: 4px
}
#header6 {
	PADDING-RIGHT: 4px; MARGIN-TOP: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: #000; PADDING-TOP: 4px
}
#header6 {
	FONT-WEIGHT: normal
}
.utilitytablebg {
	BACKGROUND-COLOR: #82afd1
}
.utilitytableheader {
	PADDING-RIGHT: 14px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; COLOR: #82afd1; PADDING-TOP: 5px; BACKGROUND-COLOR: #e6eff6; TEXT-ALIGN: left
}
#tertiarynavigation .utilitytablebg {
	MARGIN: 0px 0px 10px 20px
}
.tableborder {
	BACKGROUND-COLOR: #9fb3cc
}
.dottedline {
	BACKGROUND: url(/images/global/us/line.gif) #fff repeat-x
}
.tableheader2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #e67a3c; BACKGROUND-COLOR: #e4e9ef
}
.tableheader3 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000; BACKGROUND-COLOR: #e4e9ef
}
.title3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: Arial, sans-serif
}
.header3 {
	PADDING-RIGHT: 4px; MARGIN-TOP: 0px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.header2 {
	PADDING-RIGHT: 3px; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; COLOR: #000; PADDING-TOP: 3px
}
