1 TYPELIB "C:\\Users\\dell\\Desktop\\Programe_Code\\LabVIEW_focuss_automatically_findpeakorvaelley\\Project_data_Queue\\Main\\COM\\xrootandcubic\\for_testing\\xrootandcubic_idl.tlb"
2 RT_RCDATA "C:\\Users\\dell\\Desktop\\Programe_Code\\LabVIEW_focuss_automatically_findpeakorvaelley\\Project_data_Queue\\Main\\COM\\xrootandcubic\\for_testing\\xrootandcubic.ctf"
  
