1 TYPELIB "C:\\Users\\dell\\Desktop\\Programe_Code\\LabVIEW_focuss_automatically_findpeakorvaelley\\Project_data_Queue\\Main\\COM\\XYZandrootXYZ\\for_testing\\XYZandrootXYZ_idl.tlb"
2 RT_RCDATA "C:\\Users\\dell\\Desktop\\Programe_Code\\LabVIEW_focuss_automatically_findpeakorvaelley\\Project_data_Queue\\Main\\COM\\XYZandrootXYZ\\for_testing\\XYZandrootXYZ.ctf"
  
